@use "variables" as *;

.main-content.demarches {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  width: 100vw;
  overflow: hidden;

   .tickets-list {
    grid-column: 1/2;
    grid-row: 1/2;
    box-sizing: border-box;
    padding: 15px 15px 0 15px; 
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: center;
    overflow-y: auto;
  }

  .ticket-details {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

@media screen and (max-width: 800px) {
  .main-content.demarches {
    display: flex;
    align-items: center;
    justify-content: center;

    .tickets-list {
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  }
  
}
