@use 'variables' as *;

main {
    position: relative;

    .nav-form-btns {
        position: fixed;
        right: 35px;
        bottom: 35px;
        display: flex;
        gap: 15px;
        flex-flow: row nowrap;

        /* CSS pour les boutons de navigations dans le formulaire de reservation */
        .rezav-button-1 {
            justify-content: center;
            transition: all 0.3s ease;
            min-width: 125px;
            
            &.prev-step {
                background-color: $dark-red-rezav;
            }
        }
    }
}


@media only screen and (max-width : 481px) {
    main {
        .nav-form-btns {
            position: fixed;
            right: 30px;
            left: 30px;
            bottom: 35px;
            display: flex;
            gap: 15px;
            flex-flow: row nowrap;
            justify-content: space-around;

            .rezav-button-1 {
                width: 100%;
                min-width: fit-content;
                padding: 10px 5px;
        }
    }
    }
}